.orange{
    color: #FF5300;
}

.grey{
    color: #7B7B7B;
}

.input-group{
    display: flex;
    gap: 7.5px;
    margin-top: 13.5px;
    input{
        width: 100%;
        box-shadow: 0px 1px 10px 0px #0000001A;
        padding: 13.5px;
        border: none;
    }
    textarea{
        width: 100%;
        box-shadow: 0px 1px 10px 0px #0000001A;
        padding: 13.5px;
        border: none;
    }
    &.text-area{
        height: 100%;
        margin: 0;
    }
}


#contact-us{
    .contact-word{
        text-align: center;
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150.6%;
        color: #7B7B7B;
    }
    .contact-header{
        text-align: center;
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 39.06px;
        line-height: 123.6%;
        color: #373737;
        margin-top: 25px;
    }
    .contact-items{
        display: flex;
        margin: 60px 0px;
        gap: 30px;
    }
    .send-message{
        display: flex;
        div{
            width: 100%;
        }
        .left-part{
            img{
                margin-left: -69.75px;
            }
        }
        .right-part{
            display: flex;
            flex-direction: column;
            form{
                display: flex;
                flex-direction: column;
                height: 100%;
            }
            .form-bottom{
                height: 100%;
                margin-top: 7.5px;
                input{
                    height: 100%;
                }
            }
            .message-header{
                font-family: 'Work Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 31.25px;
                line-height: 123.6%;
            }
            button{
                &[type="submit"]{
                    width: fit-content;
                    border: none;
                    border-radius: 5px;
                    padding: 12px 25px;
                    margin-top: 29px;
                    color: white;
                    background-color: #FF5300;
                    font-size: 20px;
                    line-height: 24.72px;
                    box-shadow: 0px 1px 10px #FF5300;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .map{
        margin-top: 60px;
        iframe{
            width: 100%;
            border: none;
        }
    }
    .frames{
        margin: 120px 0px;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 376px) {
    #contact-us{
        .contact-items{
            flex-direction: column;
        }
        .send-message{
            flex-direction: column;
            .left-part{
                img{
                    width: 100%;
                    margin: 0;
                }
            }
            .right-part{
                .message-header{
                    text-align: center;
                    font-size: 25px;
                    span::before{
                        content: "\a";
                        white-space: pre;
                    }
                }
                .input-group{
                    flex-direction: column;
                }
            }
        }
        .frames{
            margin: 50px 0px;
            img{
                width: 70px;
            }
        }
    }
}
