@import "../../variables";

.container-narrow{
    max-width: 600px;
    margin: 0 auto;
}

.input-group{
    input:focus{
        outline: none !important;
    }
}

#register{
    .register-header{
        margin-top: 120px;
        h1{
            text-align: center;
            font-size: 38px;
            color: $font-color;
        }
    }
    .register-body{
        margin: 40px 0px 120px 0px;
        .input-group{
            margin-top: 20px;
            justify-content: space-between;
            a{
                text-decoration: none;
                color: $font-color;
            }
            input{
                font-size: 18px;
            }
            input[type="checkbox"]{
                width: 20px;
            }
            .remember-me{
                display: flex;
            }
            button{
                &[type="submit"]{
                    background-color: $accent-color;
                    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
                    border: 0;
                    color: white;
                    font-weight: 500;
                    font-size: 20px;
                    border-radius: 5px;
                    width: 150px;
                    height: 50px;
                    transition: 0.4s;
                    &:hover {
                      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
                    }
                }
            }
        }
        .input-group:last-child{
            justify-content: center;
        }
    }
}

@media screen and (max-width: 376px) {
    #login{
        .container-narrow{
            max-width: 323px;
        }
    }
}