@import '../../variables';

.header{
    background: $header-background;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    height: 100px;
    
    .container{
        display: flex;
        justify-content: space-between;
        padding: 37px 0;

        .logo{
            cursor: pointer;
        }

        .navbar{
            display: flex;
            gap: 38px;

            a{
                font-weight: 500;
                color: $font-color;
                font-family: $main-font;
                font-size: 20px;
                text-decoration: none;
                transition: 0.3s;

                &:hover{
                    color: $accent-color;
                }
            }
        }

        .dark-mode{
            cursor: pointer;
        }
    }
}