.contact-item{
    box-shadow: 0px 1px 10px 0px #0000001A;
    width: 100%;
    .top-part{
        display: flex;
        margin-top: 19px;
        .main-header{
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 25px;
            line-height: 123.6%;
        }
        .sub-header{
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 31.25px;
            line-height: 123.6%;
            color: #373737;
            margin-top: 11px;
        }
    }
    .bottom-part{
        padding: 18px;
        .description{
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 123.6%;
        }
        .second-description{
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 123.6%;
            margin-top: 18px;
        }
    }
}