@import "../../../../variables";

.team-members {

    .container {
        text-align: center;
        padding: 120px 0;

        .subtitle {
            font-size: 16px;
            color: $second-font-color;
        }

        .title {
            margin-top: 25px;
            font-weight: 600;
            font-size: 39.06px;
            line-height: 123.6%;
            span{
                color: $accent-color;
            }
        }

        .members {
            margin-top: 60px;
            display: flex;
            justify-content: space-between;
            .card {
                &:hover .media{
                    opacity: 1;
                    right: 0;
                }
                overflow: hidden;
                position: relative;
                width: 270px;
                box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);

                img {
                    width: 100%;
                }

                .name {
                    font-weight: 500;
                    font-size: 20px;
                    margin-top: 25px;
                }

                .position {
                    font-weight: 400;
                    font-size: 16px;
                    margin: 15px 0;
                }

                .media {
                    transition: 0.5s;
                    position: absolute;
                    opacity: 1;
                    top: 30px;
                    right: -40px;
                    li {
                        box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.3);
                        width: 40px;
                        height: 40px;
                        font-size: 22px;
                        background-color: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 5px;
                        transition: 0.4s;
                        &:hover {
                            color: white;
                            background-color: $accent-color;
                            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.6);
                        }
                    }
                    
                }
            }
        }

    }
}